/* Based on Josh Comeau blog post: https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

/* End of CSS reset */

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 20px;
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1px;
    max-width: 450px;
    width: 100%;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.keyboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.keyboard-row>div {
    font-size: 100%;
    flex-grow: 1;
    flex-basis: 1ch;
    width: 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: black;
    border-radius: 5px;
    font-size: 16px;
}

.keyboard-row>div.disabled {
    background: #fff;
    pointer-events: none;
    border: 1px solid #ddd;
}

.historic-row,
.active-row,
.empty-row {
    display: flex;
    gap: 10px;
}

.active-row input {
    flex-grow: 1;
}

.historic-row>div,
.empty-row>div,
.active-row>div {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 1em;
    height: 67px;

    display: flex;
    align-items: center;
    justify-content: center;
}



.active-row>div.selected {
    border: 2px solid black;
    padding: 9px;
}

.alert {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background: white;
    box-shadow: 2px 2px 3px #111;
    border: 1px solid #111;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#share-button {
    padding: 10px;
    border-radius: 0;
    border: 2px solid #000;
    background-color: #fff;
    width: 10em;
    cursor: pointer;
    font-weight: bold;
    color: #000;
    font-size: 20px;
}